<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matyag-Bolista Philippine Basketball Scouting App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
<!-- for icons and bootstrap theme by soy and james -->
    <link rel="stylesheet" href="assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/ionicons.min.css">  
    <link rel="stylesheet" href="assets/css/flaticon.css">
	<link rel="stylesheet" href="assets/css/icomoon.css">
	<!-- css  -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">	  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand col-6" href="home.ejs">
          <img src="/assets/images/logo-black.png" class="col-8">
        </a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>

	          <li class="nav-item"><a href="#scouts-section" class="nav-link"><span>Scouts</span></a></li>

             <li class="nav-item"><a href="/scout" class="nav-link"><span>Log-In</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section id="home-section" class="hero">
		  <div class="home-slider js-fullheight owl-carousel">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(assets/images/bg_1.jpg);">
	          		<h3 class="vr" style="background-image: url(assets/images/divider.jpg);">Matyag</h3>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">Welcome to the Club</span>
			            <h1 class="mb-4 mt-3">Join<span> Philippines</span> No. <span>1</span> Scout <span>Agency</span></h1>
			            <p>Discover some of the brightest and most talented Filipino ballers all around the country.</p>
			            
						<a href="/scout/register" class="btn btn-primary px-5 py-3 mt-3">Become a scout</a> &emsp;
						<a href="/scout" class="btn btn-primary px-5 py-3 mt-3">I'm a scout</a>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(assets/images/bg_2.jpg);">
	          		<h3 class="vr" style="background-image: url(assets/images/divider.jpg);">Bolista</h3>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">Welcome to the Club</span>
			            <h1 class="mb-4 mt-3">Pain is <span>Temporary</span> But Glory is <span>Forever</span></h1>
			            <p>Prove your worth to all Filipino basketball scouts for a brighter future in the basketball leauge.</p>
			            
						<a href="/scout/register" class="btn btn-primary px-5 py-3 mt-3">Become a scout</a> &emsp;
						<a href="/scout" class="btn btn-primary px-5 py-3 mt-3">I'm a scout</a>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section>
		<!--Three Div Column  -->
	<section class="ftco-section-2 ftco-services ftco-no-pt ftco-no-pb" style="background-color: black;">
      <div class="container">
        <div class="row no-gutters services-section">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-body"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Coaching</h3>
                <p>Get scouted by the top Coaches in the country. Prove your worth and be picked-up to rise to glory.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services services-2 text-center d-block">
              <div class="icon"><span class="flaticon-diet"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Scouting</h3>
                <p>Services are provided by the Scouting Federation of Central Visayas Region.</p>      
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-running"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Pro League</h3>
                <p>Get a chance to be drafted by the PBA (Philippine Basketball Association) and play for your favourite team.</p>      
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section" id="scouts-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ftco-animate">
          	<span class="subheading" style="color: white;">Coaches</span>
            <h2 class="mb-4">Our Scouts</h2>
            <p style="color: black;">Meet the Scouts of <i>Matyag-Bolista</i> . Bonafide Experts in envisionary ocular inspection regards to Basketball.</p>
          </div>
        </div>
        <div class="row">

			<% for(i=0 ; i< scout.length ; i++) { %>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(<%=scout[i].photo%>)"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2"style="color: black;"><%= scout[i].firstname %></h3>
									<span class="position mb-4"style="color: black;"><%= scout[i].school %></span>
									<div class="faded">
										<ul class="ftco-social text-center">
											<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              				</ul>
									</div>
		             			</div>
		            		</div>
						</div>
					</div>
			<% } %>
    	</div>
    </section> 

    <div class="navbar-brand col-12" style="background-color: white; height:80px; margin-top: 10px;">
      

    </div>

    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2" style="color: red;">About <span><a href="home.ejs" style="color: red;">Matyag-Bolista.</a></span></h2>
              <p>We are community who seeks to help aspiring players and to make the life of our basketballs scouts easier and more convenient.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
      
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Question?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Narciso, Talamban, Cebu</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 234 5678 910</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">jksia.1000@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">


          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->


  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/jquery.stellar.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.animateNumber.min.js"></script>
  <script src="assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="assets/js/google-map.js"></script>
  
  <script src="assets/js/main.js"></script>
    
  </body>
</html>