<%- include('./partials/header.ejs') %>

      <span><h1 id = "playertitle">PLAYERS</h1></span>
     
<!-- 
      <div class="row">      
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary p-3 bg-dark nav-link">Add Player</button>
              <button type="button" class="btn btn-secondary p-3 bg-dark">Search Player</button>
            </div>
          </div>
        </div>
      </div> -->
      <hr>

      <div class="row">      
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
             <a href="/"> <button type="button" class="btn btn-secondary p-2 bg-dark">Point Guard</button></a>
              <button type="button" class="btn btn-secondary p-2 bg-dark">Shooting Guard</button>
              <button type="button" class="btn btn-secondary p-2 bg-dark">Small Forward</button>
              <button type="button" class="btn btn-secondary p-2 bg-dark">Power Forward</button>
              <button type="button" class="btn btn-secondary p-2 bg-dark">Center</button>
              
              
              
            </div>
          </div>
        </div>
        
      </div>

    <!-- PLayer Modal -->
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-opacity">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright" style="font-size: 52px;">&times;</span><br><br>
          <nav class="navbar navbar-inverse visible-xs">
            <div class="container-fluid">
              <div class="navbar-header">
                <img src="assets/images/Dingdong.jpg" style="height:150px; width:150px; border-radius:50%;">
              </div>
            </div>
          </nav>

          <div class="container-fluid">
            <div class="row content">
              <div class="col-sm-3 sidenav hidden-xs">
                <h2>Kobe Bryant</h2>
              </div>
              <br>
              
              <div class="col-sm-9">
                <h4>Kobe's Statistical Stats</h4>
                <br><br>
                <div class="dip" >     
                  <p>Game Stats</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>PPG</h4>
                      <p>25.0</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>RPG</h4>
                      <p>5.2</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>APG</h4>
                      <p>4.7</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Rating</h4>
                      <p>95%</p> 
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="dip">
                  <p>Physical Stats</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Height</h4>
                      <p>6'6" (1.98m)</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Weight</h4>
                      <p>212lbs (96kg)</p> 
                    </div>
                  </div>
                  <div class="col-sm-3"></div> <!--tabulation-->
                  <div class="col-sm-3"></div> <!--tabulation-->
                </div>
                <br><br>
                <div class="dip" >
                  <p>Personal Information</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Birthdate</h4>
                      <p>August 23, 1978</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Country</h4>
                      <p>USA</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Draft Date</h4>
                      <p>1996 R1 Pick 13</p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Experience</h4>
                      <p>19 years</p> 
                    </div>
                  </div>
                </div>
                
                <br><br>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Player Modal -->

    <!-- CREATE PLAYER CARD -->
    <div class="row"> 
      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <a href="player_create" class="w3-button">CREATE PLAYER</a><br><br>
            <p>Found talent? Potential Superstars? Click the button to create a player.</p>
           
          </div>
          <div class="image-jersey">
            <img src="assets/images/jersey.png">
            <div class="image-jersey">
              <h3>CREATE PLAYER</h3>
              <h1>00</h1>
            </div>
          </div>
          
        </div>
      </div>
      <!-- PLAYER CARD -->

        <div class="col-md-4">
          <div class="card">
            <div class="content">
              <h2>Kobe Bryant</h2>
              <p>lorem ipsum dolor sit amet, consectet</p>
              <a onclick="document.getElementById('id01').style.display='block'"
              class="w3-button">View Profile</a>
            </div>
            <div class="image-jersey">
              <img src="assets/images/jersey.png">
              <div class="image-jersey">
                <h3>BRYANT</h3>
                <h1>24</h1>
              </div>
            </div>
            
          </div>
        </div>

    </div>   

        <!--footer-->
        <div class="col-md-12"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <span>
            <p>All Copyright and license information is copyrighted by James Karl Sia @ https://github.com/yanijames3</p><br><br>
          </span>
        </div>
        <!--footer ends-->

      </div>
    </div>
  </body>
  <script>
        // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</html>