@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:white !important;
}
#playertitle{
  letter-spacing: 5px;
  font-size: 5vw;
  font-family: 'Poppins', sans-serif;
}
body{
  justify-content: center;
  align-items: center;
  background: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: auto;
}
a:hover{
  border-radius: 25px;
}
h3{
  font-family: 'Quantico', sans-serif;
}
.card{
  position: relative;
  top: 35%;
  width: 350px;
  height:350px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  border-radius: 20px;
  background: linear-gradient(135deg,rgba(32, 32, 31, 0.933),rgb(219, 53, 53));
  cursor: pointer;
}
.card img{
  position: absolute;
  height: 250px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.card:hover img{
  left: 95%;
  height: 300px;
}
.card .image-jersey{
  position: absolute;
  height: 250px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.card .image-jersey h3{
  margin-top: 80%;
}
.card .image-jersey h1{
  margin-left: 20%;
}
.card:hover .image-jersey{
  left: 95%;
  height: 300px;
}
.card .content{
  position: relative;
  width:50%;
  left: 50%;
  padding: 20px 20px 20px 40px;
  opacity:0;
  visibility:hidden;
  transition: 0.5s;
}
.card:hover .content{
  visibility:visible;
  opacity: 1;
  left: -22%;
}
.card .content h2{
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1em;
}
.card .content a{
  position: relative;
  display: inline-block;
  padding:10px 20px;
  border-radius: 10px;
  background: black;
  margin-top:10px;
  text-decoration: none;
}

.card .content a:hover{
  background: #be3a3a;
}

@media (max-width: 991px){
  .card{
    position: relative;
    width: auto;
    max-width: 600px;
    transition: 0.5s;
    align-items: flex-start;
  }
  .card:hover{
    height:600px;
    margin-bottom: 150px;
  }
  #playertitle{
    margin-left: 10%;
    letter-spacing: 50px;
    font-size: 7vw;
  }
  .card:hover img{
    left: 85%;
    height: 350px;
  }
  .card .content{
    position: relative;
    align-items:center;
    width:100%;
    margin-left: 75px;
    opacity:0;
    visibility:hidden;
    transition: 0.5s;
  }
  .card:hover .content{
    visibility:visible;
    opacity: 1;
    left: -15%;
  }
}
.dip{
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  background: linear-gradient(135deg,rgba(32, 32, 31, 0.933),rgb(219, 53, 53));
  border:1px solid #e3e3e3;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}
.well-lg{padding:24px;border-radius:6px}
.well-sm{padding:9px;border-radius:3px}